*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
 }

@media only screen and (max-width: 858px) {
    body{
        flex-direction: column;
    }
  }

.section{
    height: 100vh;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
   
}


@media only screen and (max-width: 858px) {
    .section{
        width: 100%;
    }
  }

#section-1{
    background-color:#f2f2f2;
}

#section-2{
    background-color:#d9d9d9;
}


.content{
    max-width:100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h1{
    font-size:3em;
    font-family: 'Roboto';
    margin-bottom: 12px;
}


.content p{
    margin-bottom: 12px;
    font-family: 'Roboto';
}

.result-p{
    font-family: 'Roboto';
    margin-bottom: 0;
    position: absolute;
    bottom:16%;

}


.section input{
    width:100%;
    margin-top:12px;
    margin-bottom: 12px;
    padding:12px;
    font-family: Roboto;
}

.section button{
    width:35%;
    border:solid 2px #191919;
    color:white;
    background-color:#191919;
    padding:20px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.section button:hover{
    background-color:transparent;
    border: solid 2px #191919;
    color:#191919;
}
